.tag {
  text-transform: uppercase;
  font-size: 0.75em;
  color: rgba(255, 255, 255, 0.55);
}

#selectMaxDaxID {
  text-align: center;
  background-color: white;
  color: #5e42a6;
  padding: 5px;
  border-radius: 100px;
  cursor: pointer;
}
.payout {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.8em;
}
.btn-td {
  padding: 0;
}

#one h3 {
  background-color: #5e42a6;
  padding: 5px;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 100px;
  margin-bottom: 50px;
  margin-top: 50px;
}
#one span.circle {
  background-color: white;
  padding: 0.2em 0.8em;
  border-radius: 50%;
  margin-right: 10px;
}

#one ul {
  padding-left: 2.5em;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.count {
  width: 70%;
  color: white;
  background-color: #312450;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  margin: 3% 0;
}
.sac-count {
  width: 50%;
  margin: 0 auto;
  background-color: #5e42a6;
  padding: 10px;
  border-radius: 100px;
  text-transform: uppercase;
  font-size: 0.9em !important;
}
p#CountDownID {
  margin: 0;
  font-size: 3em;
}
.sac-end {
  text-transform: uppercase;
  font-size: 0.7em !important;
  font-weight: 100;
}

ul.actions {
  margin-top: 3% !important;
  margin-bottom: 0 !important;
}
@media screen and (max-width: 400px) {
  .count {
    width: 100%;
  }
  .sac-count {
    width: 80%;
  }
  p#CountDownID {
    font-size: 2em;
  }
  .sac-end {
    font-size: 0.5em !important;
  }
  #daxe_table label {
    font-size: unset;
    white-space: normal !important;
  }

  #daxe_table td {
    display: block;
    text-align: center;
    white-space: normal !important;
  }
  #daxe_table td:nth-of-type(2) {
    font-size: 0.8em;
    padding: 0 10px 10px 10px;
  }
}
